<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Soundora Store</title>

    <!-- Google Font -->
    <!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<!-- Latest Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Css Styles -->
<link rel="stylesheet" href="/css/user/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/user/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/user/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/css/user/nice-select.css" type="text/css">
<link rel="stylesheet" href="/css/user/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/user/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/user/style.css" type="text/css">
<!-- <link rel="stylesheet" href="./user-assets/css/maind134.css"> -->


    <style>
        .dropdown {
            position: relative;
            display: inline-block;
            z-index: 10;
        }

        .dropdown-toggle {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 150px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            border-radius: 5px;
            overflow: hidden;
            top: 100%;
            left: 0;
        }

        .dropdown-content a {
            color: #333;
            padding: 10px 15px;
            text-decoration: none;
            display: block;
            font-size: 14px;
            transition: background-color 0.3s ease;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }


        .cart-badge {
            position: absolute;
            right: -65px;
            top: 20px;
            background: #e53637;
            color: white;
            border-radius: 50%;
            padding: 2px 6px;
            font-size: 12px;
            margin-left: 5px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease-in-out;
        }

        .sign-in-link {
            color: #333;
            font-size: 16px;
            text-decoration: none;
            margin-right: 10px;
        }

        .sign-in-link:hover {
            text-decoration: underline;
        }
        
        /* Mobile menu styles */
        .offcanvas-menu-overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            content: "";
            z-index: 9;
            visibility: hidden;
            transition: all 0.3s;
        }
        
        .offcanvas-menu-overlay.active {
            visibility: visible;
        }

        .header__nav__option i {
            font-size: 18px;
            margin-left: 10px;
            color: #111;
        }
        
        .offcanvas-menu-wrapper {
            position: fixed;
            top: 0;
            right: -300px;
            width: 300px;
            height: 100%;
            background: #ffffff;
            z-index: 99;
            overflow-y: auto;
            transition: all 0.5s;
            padding: 30px;
        }
        
        .offcanvas-menu-wrapper.active {
            right: 0;
        }
        
        .canvas__open {
            display: none;
            cursor: pointer;
        }
        
        /* Mobile responsive adjustments */
        @media (max-width: 767px) {
            .header__menu {
                display: none;
            }
            
            .canvas__open {
                display: block;
                font-size: 22px;
                color: #111111;
                height: 35px;
                width: 35px;
                line-height: 35px;
                text-align: center;
                border: 1px solid #111111;
                border-radius: 2px;
                cursor: pointer;
                position: absolute;
                right: 17px;
                top: 14px;
            }
            
            .mobile-menu-list {
                list-style: none;
                padding: 0;
                margin-top: 20px;
            }
            
            .mobile-menu-list li {
                margin-bottom: 15px;
            }
            
            .mobile-menu-list li a {
                color: #333;
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
                display: block;
                transition: all 0.3s;
            }
            
            .mobile-menu-list li a:hover {
                color: #e53637;
            }
            
            .mobile-nav-options {
                display: flex;
                align-items: center;
                margin-top: 20px;
            }
            
            .mobile-nav-options a {
                margin-right: 15px;
            }
            
            .close-menu {
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 20px;
                cursor: pointer;
            }
        }

        /* Mobile fixed navigation bar styles */
        @media (max-width: 767px) {
            /* Mobile fixed navigation bar at bottom */
            .mobile-fixed-nav {
                display: flex;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background: #fff;
                box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
                z-index: 999;
                justify-content: space-around;
                padding: 10px 0;
                border-top: 1px solid #eee;
            }
            
            .mobile-fixed-nav a {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #333;
                text-decoration: none;
                font-size: 12px;
                font-weight: 600;
            }
            
            .mobile-fixed-nav a i {
                font-size: 18px;
                margin-bottom: 4px;
            }
            
            .mobile-fixed-nav a.active {
                color: #e53637;
            }
            
            /* Adjust body padding to account for fixed nav */
            body {
                padding-bottom: 60px;
            }
            
            /* Hide the original mobile menu items that we're now showing in the fixed nav */
            .mobile-menu-list li a[href="/"],
            .mobile-menu-list li a[href="/shop"],
            .mobile-menu-list li a[href="/wishlist"],
            .mobile-menu-list li a[href="/cart"] {
                display: none;
            }
            
            /* Show user name in header for mobile */
            .mobile-user-name {
                display: block;
                position: absolute;
                left: 15px;
                top: 30px;
                font-size: 14px;
                font-weight: 600;
            }
            
            /* Adjust header logo for mobile */
            .header__logo {
                text-align: center;
                padding: 15px 0;
            }
        }
    </style>
</head>

<body>

    <div id="preloder">
        <div class="loader"></div>
    </div>

    
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="close-menu">
            <i class="fa fa-times"></i>
        </div>
        
        <div class="mobile-menu-container">
            
            <ul class="mobile-menu-list">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="./userProfile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        
        <div class="mobile-nav-options">
            <a style="text-decoration: none; color: #111111;" href="/wishlist"><img src="/img/icon/heart.png" alt="Wishlist">Wishlist</a>
            <!-- <a href="/cart"><img src="/img/icon/cart.png" alt="Cart">Cart</a> -->
        </div>
        
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left" style="margin-left: 222px;">
                            <p>30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <a href="/signup">
                            <!-- <div class="signin" style="color: white;"> >>>>>>> Sign in</div> -->
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href=""><img src="/img1/logo.png" alt="" style="margin-left: -27px;height: 50px; margin-top: -15px;"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/cart">Cart</a></li>
                            <!-- <li><a href="./userProfile">Profile</a></li> -->
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option" style="margin-right: -100px; margin-top: 9px;">
    
                        <% if (locals.userName) { %>
                            <div class="dropdown">
                                <a href="#" class="sign-in-link dropdown-toggle" id="userDropdown">
                                    <%= locals.userName %>
                                </a>
                                <div class="dropdown-content" id="userDropdownContent">
                                    <a href="/userProfile">Profile</a>
                                    <a href="/logout">Logout</a>
                                </div>
                            </div>
                        <% } else { %>
                            <a href="/signup" class="sign-in-link">Sign Up</a>
                            <a href="/login" class="sign-in-link">Login</a>
                        <% } %>
                       <a href="/wishlist"><i class="fa fa-heart" style="font-size: 18px;"></i></a>
                       <a href="/cart" class="cart-container">
                        <i class="fa fa-shopping-bag" style="font-size: 18px;"></i>
                       </a>
                       <span class="cart-badge"><%= locals.cartItemCount || 0 %></span>
                    </div>
                </div>
            </div>
            
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>

    <div class="mobile-fixed-nav d-md-none">
        <a href="/" class="<%= typeof path !== 'undefined' && path === '/' ? 'active' : '' %>">
            <i class="fa fa-home"></i>
            <span>Home</span>
        </a>
        <a href="/shop" class="<%= typeof path !== 'undefined' && path === '/shop' ? 'active' : '' %>">
            <i class="fa fa-shopping-bag"></i>
            <span>Shop</span>
        </a>
        <a href="/cart" class="<%= typeof path !== 'undefined' && path === '/cart' ? 'active' : '' %>">
            <i class="fa fa-shopping-cart"></i>
            <span>Cart</span>
        </a>
        <a href="/wishlist" class="<%= typeof path !== 'undefined' && path === '/wishlist' ? 'active' : '' %>">
            <i class="fa fa-heart"></i>
            <span>Wishlist</span>
        </a>
        <% if (user) { %>
            <a href="/userProfile" class="<%= typeof path !== 'undefined' && path === '/userProfile' ? 'active' : '' %>">
                <i class="fa fa-user" style="color: #4d540e;"></i>
                <span style=" font-weight: bolder;"><%= user.name %></span>
            </a>
        <% } else { %>
            <a href="/login">
                <i class="fa fa-sign-in-alt"></i>
                <span>Login</span>
            </a>
        <% } %>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Mobile menu toggle functionality
            $('.canvas__open').on('click', function() {
                $('.offcanvas-menu-wrapper').addClass('active');
                $('.offcanvas-menu-overlay').addClass('active');
            });
            
            $('.close-menu').on('click', function() {
                $('.offcanvas-menu-wrapper').removeClass('active');
                $('.offcanvas-menu-overlay').removeClass('active');
            });
            
            $('.offcanvas-menu-overlay').on('click', function() {
                $('.offcanvas-menu-wrapper').removeClass('active');
                $('.offcanvas-menu-overlay').removeClass('active');
            });
            
            // Preloader
            $(window).on('load', function() {
                $("#preloder").fadeOut();
            });

            // AJAX for adding to cart
            // $('.add-to-cart').on('click', function() {
                
            //     const productId = $(this).data('product-id');
            //     const quantity = $(this).data('quantity') || 1; // Default to 1 if not set

            //     $.ajax({
            //         url: '/cart/add',
            //         method: 'POST',
            //         data: { productId, quantity },
            //         success: function(response) {
            //             if (response.success) {
            //                 $('.cart-badge').text(response.itemsCount || 0);
            //             } else {
            //                 alert(response.message);
            //             }
            //         },
            //         error: function() {
            //             alert('Error adding to cart');
            //         }
            //     });
            // });

            // AJAX for removing from cart
            // $('.remove-cart-item').on('click', function() {
            //     const productId = $(this).data('product-id');
            //     $.ajax({
            //         url: `/cart/remove/${productId}`,
            //         method: 'DELETE', // Adjust method if needed based on your route
            //         success: function(response) {
            //             if (response.success) {
            //                 $('.cart-badge').text(response.itemsCount || 0);
            //             } else {
            //                 alert(response.message);
            //             }
            //         },
            //         error: function() {
            //             alert('Error removing from cart');
            //         }
            //     });
            // });
        });

        document.addEventListener('DOMContentLoaded', function() {
        const currentPath = window.location.pathname;
        document.querySelectorAll('.header__menu ul li').forEach(li => {
            const link = li.querySelector('a');
            if (link.getAttribute('href') === currentPath) {
                li.classList.add('active');
            } else {
                li.classList.remove('active');
            }
        });
    });
    </script>
</body>
</html>